body {
  background-image: url('https://www.tapeciarnia.pl/tapety/normalne/tapeta-biblioteka.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  background-color: #333;
  padding: 10px;
  margin-bottom: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.navbar a:hover {
  text-decoration: underline;
}

.welcome {
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.login-container button:hover {
  background-color: #45a049;
}

.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.register-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.register-container button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.register-container button:hover {
  background-color: #45a049;
}