body {
  background-image: url('https://www.tapeciarnia.pl/tapety/normalne/tapeta-biblioteka.jpg'); /* Zast¹p 'background-image.jpg' odpowiednim adresem URL obrazka t³a */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  background-color: #333;
  padding: 10px;
  margin-bottom: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.navbar a:hover {
  text-decoration: underline;
}
