body {
  background-image: url('https://www.tapeciarnia.pl/tapety/normalne/tapeta-biblioteka.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  background-color: #333;
  padding: 10px;
  margin-bottom: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.navbar a:hover {
  text-decoration: underline;
}

.welcome {
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
